[submodule "vendor/txiki.js"]
	path = vendor/txiki.js
	url = https://github.com/saghul/txiki.js.git
[submodule "vendor/bare"]
	path = vendor/bare
	url = https://github.com/holepunchto/bare.git
[submodule "vendor/zjs"]
	path = vendor/zjs
	url = git@github.com:popaprozac/zjs.git
